<!-- <nb-card>
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body>
    <form #form="ngForm" class='city-form' autocomplete="nope">
      <div class="form-group">
        <label for="input-name">City Name</label>
        <input #name='ngModel' type="text" id='input-name' placeholder="Name" class="form-control" [(ngModel)]="newEntity.name" name='name'
          required btAutofocus [class.form-control-danger]="name.invalid && name.touched" />
        <small class="form-text error" *ngIf="name.invalid && name.touched && name?.errors?.required">
          Name is required!
        </small>
      </div>
      <label for="input-name">City Image</label>
      <div btFileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" (fileDrop)="fileDropped($event)"
        [uploader]="thumbnailUploader" class="my-drop-zone">
        <div *ngIf='!hasFile()'>Drop File</div>
        <img *ngIf='hasFile()' [src]='newEntity.thumbnail' />
      </div>
      <button (click)='createOrUpdate()' type="button" [disabled]="isSubmitDisAllowed(form)" class="btn btn-primary">Submit</button>
      <button (click)='close()' type="button" class="btn btn-danger">Close</button>
    </form>

  </nb-card-body>
</nb-card> -->
<form #form="ngForm" nz-form>
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">City Name</nz-form-label>
    <nz-form-control [nzValidateStatus]="isNameInValid(name)?'error':'success'" [nzSpan]="19">
      <input nz-input btAutofocus required [(ngModel)]="newEntity.name" name="name" #name='ngModel'>
      <nz-form-explain *ngIf="isNameInValid(name)"> Name is required! </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">City Image</nz-form-label>
    <nz-form-control [nzValidateStatus]="isThumbnailInValid()?'error':'success'" [nzSpan]="19">
      <nz-upload [nzAction]="uploadUrl" nzListType="picture-card" [nzBeforeUpload]="beforeUpload"
        [nzShowUploadList]="false">
        <ng-container *ngIf="!newEntity.thumbnail">
          <i class="anticon anticon-plus"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="newEntity.thumbnail" [src]="newEntity.thumbnail">
      </nz-upload>
      <nz-form-explain *ngIf="isThumbnailInValid()"> Thumbnail is required! </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>
