<!-- <div class="row">
  <nb-card *ngFor='let city of (_cityService.filteredAndSearched$ | async)' class='city-card'>
    <nb-card-body>
      <img [src]="city.thumbnail" />
      <div class="card-title">{{city.name}}</div>
    </nb-card-body>
    <nb-card-footer>
      <nb-actions [fullWidth]='true'>
        <nb-action icon='nb-compose' (click)='edit(city)'></nb-action>
        <nb-action icon='nb-close' (click)='delete(city)'></nb-action>
      </nb-actions>
    </nb-card-footer>
  </nb-card>
</div> -->

<div nz-row>
  <nz-card nz-col [nzSpan]="6" *ngFor='let city of (_cityService.filteredAndSearched$ | async)' class='city-card' [nzCover]='coverTemplate'>
    <nz-card-meta [nzTitle]="city.name" nzDescription="This is the description"></nz-card-meta>
    <ng-template #coverTemplate>
      <img [src]="city.thumbnail" />
    </ng-template>
  </nz-card>
  <!-- </div> -->
</div>
