<div class="row">
  <!-- <nb-card *ngFor='let city of (_cityService.filteredAndSearched$ | async)' class='city-card'>
    <nb-card-body>
      <img [src]="city.thumbnail" />
      <div class="card-title">{{city.name}}</div>
    </nb-card-body>
    <nb-card-footer>
      <nb-actions [fullWidth]='true'>
        <nb-action icon='nb-compose' (click)='edit(city)'></nb-action>
        <nb-action icon='nb-close' (click)='delete(city)'></nb-action>
      </nb-actions>
    </nb-card-footer>
  </nb-card> -->
</div>
